<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
 
  <appSettings>
     <!--<add key="SOURCE_DB" value="Data Source=172.21.7.12;Initial Catalog=DWHOUSE;User Id=settlementuser;password=5%37773htn53r" />
    <add key="DEST_DB" value="Data Source=172.21.7.12;Initial Catalog=SettlementMaster;User Id=settlementuser;password=5%37773htn53r" /> -->
    
   <add key="SOURCE_DB" value="Data Source=172.21.7.55,50938;Initial Catalog=DWHOUSE;User Id=sa;password=welcome@1" />
    <add key="DEST_DB" value="Data Source=172.21.7.55,50938;Initial Catalog=SettlementMaster;User Id=sa;password=welcome@1" />
    <add key="IntervalMinutes" value="2" />
    <add key="EnforceForwardSettlementDate" value="N" />
    <add key="Mode" value="DAILY" />
    <add key="Cutofftime" value="7:00" />
    <add key="ReportPath" value="C:\POS_AUTOMATION" />
    <add key="LogoPath" value="C:\POS_AUTOMATION\logo.png" />
      <!--<add key="naps_url" value="http://80.88.8.245:9000/ValueSwitch/NAPsConnector.asmx" />-->
    <add key="naps_appuser" value="valueswitch" />
    <add key="naps_password" value="qassw0rd@1valueSwithc" />

    <add key="naps_url" value="http://172.21.7.5:8078" />
    <add key="naps_clientId" value="4a73a14aaac8aa22a204e0744e72c279" />
    <add key="naps_clientSecret" value="2d360e44fbcf2ae8abf20e01f178ef91" />
    <!--<add key="naps_url" value="http://172.21.7.29:8078" />
    <add key="naps_clientId" value="24dc60e95f1995d08dd896f7b538a654" />
    <add key="naps_clientSecret" value="05e1304dc742c32b8c614c97606b8957" />-->
    <add key="neft_clientId" value="4c19acf57a2ae83495dda7d915084361" />
    <add key="neft_clientSecret" value="ed0b65c15714ec8f5fc85f425eb5f7e3" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=172.21.7.55,50938;Initial Catalog=SettlementMaster;User ID=sa;Password=welcome@1" providerName="System.Data.SqlClient" />
    <add name="SettlementMasterEntities" connectionString="metadata=res://*/SMModel1.csdl|res://*/SMModel1.ssdl|res://*/SMModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.7.55,50938;initial catalog=SettlementMaster;user id=sa;password=welcome@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PostMasterEntities" connectionString="metadata=res://*/PostMasterModel1.csdl|res://*/PostMasterModel1.ssdl|res://*/PostMasterModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.7.55,50938;initial catalog=PostMaster;user id=sa;password=welcome@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.88.0.0" newVersion="0.88.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>