<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="safiEntities" connectionString="metadata=res://*/SafiModel.csdl|res://*/SafiModel.ssdl|res://*/SafiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5005.Smarterasp.net;initial catalog=DB_9FD205_safi;user id=DB_9FD205_safi_admin;password=password1@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CliqChannelEntities" connectionString="metadata=res://*/EChannelModel.csdl|res://*/EChannelModel.ssdl|res://*/EChannelModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CliqChannel;user id=sa;password=[[Kogo//;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CliqHREntities" connectionString="metadata=res://*/CliqBHRModel1.csdl|res://*/CliqBHRModel1.ssdl|res://*/CliqBHRModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CliqHR;user id=sa;password=[[Kogo//;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InventoryDbEntities" connectionString="metadata=res://*/InventoryModel.csdl|res://*/InventoryModel.ssdl|res://*/InventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=InventoryDb;user id=sa;password=[[Kogo//;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SettlementMasterEntities" connectionString="metadata=res://*/SMModel1.csdl|res://*/SMModel1.ssdl|res://*/SMModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SettlementMaster2;user id=sa;password=[[Kogo//;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>