<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=172.21.7.55,50938;Initial Catalog=SettlementMaster;User ID=sa;Password=welcome@1" providerName="System.Data.SqlClient"/>
    <add name="SettlementMasterEntities" connectionString="metadata=res://*/SMModel1.csdl|res://*/SMModel1.ssdl|res://*/SMModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.7.55,50938;initial catalog=SettlementMaster;user id=sa;password=welcome@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <!--<add name="DefaultConnection" connectionString="Data Source=172.21.7.12;Initial Catalog=SettlementMaster;User ID=settlementuser;Password=5%37773htn53r" providerName="System.Data.SqlClient"/>
    <add name="SettlementMasterEntities" connectionString="metadata=res://*/SMModel1.csdl|res://*/SMModel1.ssdl|res://*/SMModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.7.12;initial catalog=SettlementMaster;user id=sa;password=5%37773htn53r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="baseUrl" value=""/>
    <add key="emailhost" value="smtp.1and1.com"/>
    <add key="EnableSsl" value="1"/>
    <add key="UserName" value="noreply@xpresspayments.com"/>
    <add key="emailaddress" value="noreply@xpresspayments.com"/>
    <add key="emailpassword" value="password1"/>
    <add key="emailport" value="587"/>
    <add key="UsePort" value="0"/>
    <add key="deliverymethod" value="Y"/>
    <add key="emailAppend" value="@unifiedpaymentsnigeria.com"/>
    <add key="TERM_XML_PATH" value="C:/TerminalXml"/>
    <add key="TestDB" value="Data Source=TEST;User Id=dppadmin;password=dppadmin;"/>
    <add key="ReportPath" value="\POS_AUTOMATION"/>
    <add key="LogoPath" value="C:\POS_AUTOMATION\logo.png"/>
    <add key="MidTidNotGenMenuId" value="122"/>
    <add key="MidMenuId" value="24"/>
    <add key="MidUpdMenuId" value="27"/>
    <add key="SCHEMA_NAME" value="DPPADMIN"/>
    <add key="APP_PASSWORD" value="dppadmin"/>
    <add key="APP_DBSOURCE" value="LIVE"/>
    <add key="APP_USERID" value="DPPADMIN"/>
    <!--<add key="DEST_DB" value="Data Source=172.21.7.12;Initial Catalog=SettlementMaster;User Id=settlementuser;password=5%37773htn53r"/>-->
    <add key="DEST_DB" value="Data Source=172.21.7.55,50938;Initial Catalog=SettlementMaster;User Id=settlementuser;password=welcome@1"/>
    <!--<add key="naps_url" value="http://172.21.7.5:9000/ValueSwitch/NAPsConnector.asmx" />
    <add key="naps_url" value="http://localhost:15443/Service1.asmx" />
    <add key="naps_appuser" value="valueswitch" />
    <add key="naps_password" value="qassw0rd@1valueSwithc" />-->
    <add key="naps_url" value="172.21.7.5:8078"/>
    <add key="naps_clientId" value="24dc60e95f1995d08dd896f7b538a654"/>
    <add key="naps_clientSecret" value="05e1304dc742c32b8c614c97606b8957"/>
    <!-- <add key="emailhost" value="smtp.gmail.com"/>
  <add key="EnableSsl" value="1"/>
    <add key="UserName" value="usmy2005@gmail.com"/>
    <add key="emailaddress" value="usmy2005@gmail.com" />
    <add key="emailpassword" value=""/>
    <add key="emailport" value="587"/>
    <add key="UsePort" value="1"/>-->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="Planet Wrox &lt;usmy2005@gmail.com&gt;">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\TempMail"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <globalization culture="en-GB"/>
    <authentication mode="None"/>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2" maxQueryStringLength="2097151" maxUrlLength="2097151" maxRequestLength="2097151"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2097151"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: {7E8C90E4-2BC6-4A5B-979A-2A2375FD208E}-->