@*<div id="toolbar">
   
</div>*@
<style>
    td{
        font-size:10.5px;
        white-space:nowrap
        
    }
</style>
<div id="pnlGrid">
  
    <div id="content_new" style="margin-right:0px">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list" style="color:#57ACE7;"></i>  Settlement Exemption Report
                    </div>
                    <div class="panel-body ">
                        <div style="background-color:#F4F4F4;margin-bottom:10px;padding-top:10px">
                            @using (Html.BeginForm("DownloadExemptionReport", "Report", FormMethod.Post, new { id = "formDownload", }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-lg-2">
                                    <label>Report Date <span class="required">*</span></label>
                                    <div class="form-group input-group" style="width:150px">
                                        <input type="text" name="reportDate" id="reportDate" class="form-control datepicker input-sm" />                                        <span class="input-group-addon" style="color:red">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                   
                                </div>
                                
                                @*<div class="col-lg-3">
                                    <label>User</label>
                                    <div class="form-group">
                                        @Html.DropDownList("UserId", ViewBag.UserList as SelectList, "--Select User--", new { @class = "form-control select2", style = "width:100%" })
                                    </div>

                                </div>*@
                                <div class="col-lg-5">
                                    <label>&nbsp;</label>
                                    <br />
                                    <button id="btnSearch" type="button" class="btn btn-info input-sm">Search <i class="fa fa-search"></i></button>
                                    <button id="btnDownload" class="btn btn-default input-sm">Download Excel <i class="fa fa-file-excel-o"></i></button>
                                </div>
                                    <div class="clearfix"></div>
                            }
                        </div>

                        <div class="col-lg-122">
                            <div class="table-responsive divad2">
                                
                                <table id="example" class="table table-bordered table-striped datatable table-hover table-condensed">
                                    <thead>
                                        <tr style="text-align:left;">
                                            <th>MERCHANT ID </th>
                                            <th>TERMINAL ID </th>
                                            <th>CREATEDATE </th>
                                            <th>ERROR MESSAGE </th>
                                            <th>TRANSACTION DATE </th>
                                            <th>PAYMENT REFERENCE </th>
                                            <th>TRANSACTION AMOUNT </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts {
    @*@Scripts.Render("~/Scripts/app/authlist.js")*@
    <script>
        $(document).ready(function () {
            var reportdate = $('#reportDate').val();
            //var todate = $('#toDate').val();
            //var userid = $('#UserId').val();
           var table = $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "pageLength": 100,
                "bFilter": false,
                dom: 'Bfrtip',
                "info": true,
                "stateSave": true,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                "ajax": {
                    "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))/Report/GetExemptionReport?reportdate=" + reportdate,
                    "type": "GET",
                },
                "columns": [
                    { "data": "MERCHANTID", "orderable": false },
                    { "data": "TERMINALID", "orderable": false },
                    { "data": "CREATEDATE", "orderable": false },
                    { "data": "ERROR_MESSAGE", "orderable": false },
                    { "data": "TRANDATETIME", "orderable": false },
                    { "data": "PAYMENTREFERENCE", "orderable": false },
                    { "data": "TRANAMOUNT", "orderable": false },
                   
                ],
                //"order": [[0, "asc"]]
            });

            $('#btnSearch').on('click', function (e) {
                e.preventDefault();
                reportdate = $('#reportDate').val();
                 //todate = $('#toDate').val();
                // userid = $('#UserId').val();
                //console.log(table);
                 var urlP = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))/Report/GetExemptionReport?reportdate=" + reportdate ;
                table.ajax.url(urlP).load();
            })

            validateForm();
            function validateForm() {

                var validator = $("#formDownload").validate({
                    rules: {
                        reportDate: {
                            required: true,
                            //number: true
                        },
                        //DESCRIPTION: "required",
                        //SECTOR_CODE: "required"
                    },
                    messages: {

                        // equalTo: "Password must be Equal",
                        Name: {
                            required: "Please Enter Last Name"
                        },
                    },
                   
                    
                });
            }
        });
</script>
}


