<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SOURCE_DB" value="Data Source=172.21.7.55,50938;Initial Catalog=DWHOUSE;User Id=sa;password=welcome@1" />
    <add key="DEST_DB" value="Data Source=172.21.7.55,50938;Initial Catalog=SettlementMaster;User Id=sa;password=welcome@1" />
    <add key="IntervalMinutes" value="2" />
    <add key="Mode" value="INTERVAL" />
    <add key="EnforceForwardSettlementDate" value="Y" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.88.0.0" newVersion="0.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>