<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DEST_DB" value="Data Source=.;Initial Catalog=SettlementMaster;User Id=sa;password=[[Kogo//;" />
    <add key="IntervalMinutes" value="2" />
    <add key="Mode" value="INTERVAL" />
    <!--<add key="naps_url" value="http://80.88.8.245:9000/ValueSwitch/NAPsConnector.asmx" />-->
    <add key="naps_appuser" value="valueswitch" />
    <add key="naps_password" value="qassw0rd@1valueSwithc" />
    
    <add key="naps_url" value="http://80.88.8.245:8078" />
    <add key="naps_clientId" value="4a73a14aaac8aa22a204e0744e72c279" />
    <add key="naps_clientSecret" value="2d360e44fbcf2ae8abf20e01f178ef91" />
    <add key="neft_clientId" value="4c19acf57a2ae83495dda7d915084361" />
    <add key="neft_clientSecret" value="ed0b65c15714ec8f5fc85f425eb5f7e3" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.88.0.0" newVersion="0.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>