
create proc [dbo].[GET_RVGROUPBYMID]
(
@P_MID varchar(20)
)
as
begin
/*
[GET_RVGROUPBYMID] ''
*/
				SELECT A.* ,b.MERCHANTNAME,DEPOSIT_BANKCODE,DEPOSIT_ACCOUNTNO
				,DEPOSIT_ACCTNAME FROM 
				(select a.* 
				from SM_REVENUEGROUP a
				where MERCHANTID = @P_MID) A
				INNER JOIN 
				(SELECT MERCHANTID,MERCHANTNAME FROM SM_MERCHANTDETAIL) b
				on a.MERCHANTID = b.MERCHANTID
				LEFT OUTER JOIN 
				(SELECT ITBID, MERCHANTID,DEPOSIT_BANKCODE,DEPOSIT_ACCOUNTNO,DEPOSIT_ACCTNAME 
				FROM SM_MERCHANTACCT
				) C on a.ACCOUNT_ID = C.ITBID AND A.MERCHANTID = C.MERCHANTID
				--LEFT OUTER JOIN 
				--(SELECT  CBN_CODE,INSTITUTION_NAME AS DEPOSIT_BANKNAME FROM SM_INSTITUTION) D
				--on C.DEPOSIT_BANKCODE = D.CBN_CODE 
			
end

